.cftimer-picker {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.cftimer-picker-item {
}
/* overrides */
.rmc-picker-mask {
  background-image: linear-gradient(
      to bottom,
      rgba(43, 26, 72, 0.95),
      rgba(43, 26, 72, 0.6)
    ),
    linear-gradient(to top, rgba(43, 26, 72, 0.95), rgba(43, 26, 72, 0.6));
}
.rmc-picker-item {
  height: 68px;
  line-height: 68px;
  color: #ffffff;
  font-size: 3rem;
}
.rmc-picker,
.rmc-multi-picker {
  height: 204px;
}
/* overrides end */

.cftimer-picker-indicator {
  height: 68px;
}
