@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 leading-loose text-black bg-white text-lg tracking-wide;
}

.logo-img {
  @apply w-32 my-2 mx-auto block;
}

.logo-title {
  @apply mx-auto text-center uppercase;
}

.main-nav {
  @apply bg-blue-100 shadow;
}

.btn-start {
  @apply block my-4 mx-auto;
}

@media (min-width: 1px) and (max-width: theme("screens.md")) {
  .btn-start {
    @apply w-full mx-auto px-4;
  }

  .logo-img {
    @apply w-10 m-auto;
  }

  .logo-title {
    @apply w-full text-2xl;
    margin-bottom: 2rem;
  }

  .main-nav {
    @apply hidden;
  }
}

.btn-blue {
  @apply bg-blue-800 text-blue-100;
}

.btn-blue:hover {
  @apply bg-blue-600;
}

.btn-red {
  @apply bg-red-600 text-white;
}

.btn-green {
  @apply bg-green-600 text-white;
}

.btn-red:hover {
  @apply bg-red-500;
}

.btn-green:hover {
  @apply bg-green-500;
}

.nav-link {
  @apply antialiased font-sans text-2xl inline-block no-underline text-blue-500 p-2;
}

.nav-link:hover {
  @apply bg-blue-800 text-white;
}

.timer-section {
  @apply my-6 mx-auto my-6 p-4 shadow-md border-8 border-transparent;
}

.complex-interval-section {
  @apply .timer-section;
}

.interval {
  @apply border-blue-500;
}

.work {
  @apply border-green-500;
}

.rest {
  @apply border-red-500;
}

.stopwatch {
  @apply border-blue-800;
}

.complex-timer-menu {
  flex-grow: 1;
}

.complex-timer-timer {
  flex-grow: 2;
}

.control-container {
  @apply inline-flex justify-around w-full items-center;
}

.control-container h4 {
  flex-grow: 2;
}

.control-container label {
  flex-grow: 1;
}

.complex-interval-section,
.timer-section {
  @apply w-full;
}

@screen lg {
  .btn-start {
    @apply w-1/3;
  }
}

.time-part {
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.timer-description {
  text-align: center;
}

.time-part,
.time-separator {
  font-size: 20vw;
}

.timer-description p {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 2rem;
}
